/*Main page style*/
body {
  font-family: Arial, sans-serif;
  background-color: #14f1f1;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  background-color: #f2f5f5;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(250, 252, 252);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Styles the containers buttons and styles of elements regarding the quiz questions and answers once started */
.start-container,
.quiz-container,
.end-container {
  background-color: #f3eeee;
  border-style: dotted;
  text-align: center;
}

.start-btn,
button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0918eb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-btn:hover,
button[type="submit"]:hover {
  background-color: #09f5e1;
}

.quiz-container,
.end-container {
  margin-top: 20px;
}

.question-text {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

li button {
  padding: 8px 12px;
  font-size: 14px;
  background-color: #f0f0f0;
  color: #f01616;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

li button:hover {
  background-color: #3902ff;
}

.feedback-text {
  margin-top: 10px;
  font-weight: bold;
}

.timer {
  font-size: 45px;
  margin-top: 20px;
  font-weight: bold;
}

.final-score {
  font-weight: bold;
}

.initials-form {
  margin-top: 20px;
}

.initials-form label {
  margin-right: 10px;
}

.initials-form input[type="text"] {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.initials-form button[type="submit"] {
  margin-top: 10px;
}
